<a href="https://colab.research.google.com/github/satvickyadlapalli/python-new/blob/module-1/Module_1_exercise_.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

Accept input from user and store it in variable and print the value.

In [ ]:
a=int(input())
print(a)

23
23

Use of print statements and use of (.format )for printing different data types

In [ ]:
a=int(input())
b=float(input())
b=bool(input())
b=str(input())

34
45
56
67

Take 2 numbers as user input and add, multiply, divide, subtract, remainder and print
the output (Same operations on floating point input as well)

In [ ]:
a=int(input())
b=int(input())
c=a+b
d=a-b
e=a*b
f=a/b
print(c)
print(d)
print(e)
print(f)

Conversion of one unit to another (such as hours to minutes, miles to km and etc)

In [ ]:
hour=int(input())
minute=hour*60
seconds=minute*60
print(minute)
print(seconds)

1
60
3600

In [ ]:
km=int(input())
m=km*1000
cm=m*100
print(m)
print(cm)

2
2000
200000

Usage of mathematical functions in python like math.ceil, floor, fabs, fmod, trunc,
pow, sqrt etc.

In [ ]:
import math
a=float(input())
print(math.ceil(a))
print(math.floor(a))
print(math.fabs(a))
b=int(input())
c=int(input())
d=b/c
print(math.fmod(b,c))
e=int(input())
print(math.sqrt(e))
f=int(input())
print(math.pow(e,f))

23.6
24
23
23.6
23
7
2.0
2
1.4142135623730951
4
16.0

Building a mathematical calculator that can perform operations according to user input.
Use decision making statement

In [ ]:
a=int(input())
b=int(input())
c=str(input("enter input"))
if c== '+' :
  print(a+b)
elif c=='-':
  print(a-b)
elif c=='*':
  print(a*b)  
else:
  print(a/b)

23
45
enter input+
68

enter 5 subject marks and find thr average and print the grade

In [ ]:
eng=int(input())
mat=int(input())
phs=int(input())
che=int(input())
progra=int(input())
avg=(eng+mat+phs+che+progra)/5
 print(avg)
if avg>90:
   print('O grade')
elif avg>80 and avg<90:
  print('A grade')
elif avg>70 and avg<80:
  print('B grade')
elif avg>60 and avg<70:
  print('C grade')       
elif avg>50 and avg<60:
  print('D grade')
else:
  print('Fail')

89
32
56
87
54
C grade