<a href="https://colab.research.google.com/github/satvickyadlapalli/python-new/blob/module-3/pandas.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
import pandas as pd
a=[1,2,3,4]
s=pd.Series(a)
print(s)

0    1
1    2
2    3
3    4
dtype: int64

In [ ]:
import pandas as pd
import numpy as np
a=np.array(['a','b','c','d'])
s = pd.Series(a)
print(s)
a=np.array(['a','b','c','d'])
s = pd.Series(a,index=[100,101,102,103])
print(s)
data = {'a' : 0., 'b' : 1., 'c' : 2.}
s = pd.Series(data)
print(s)

0    a
1    b
2    c
3    d
dtype: object
100    a
101    b
102    c
103    d
dtype: object
a    0.0
b    1.0
c    2.0
dtype: float64

In [ ]:
import pandas as pd
s = pd.Series([1,2,3,4,5],index = ['a','b','c','d','e'])

#retrieve the first element
print(s['a'])

1

In [ ]:
import pandas as pd
import numpy as np
s=pd.Series()
print(s)
data=np.array(['a','b','c','c'])
s=pd.Series(data)
print(s)

Series([], dtype: float64)
0    a
1    b
2    c
3    c
dtype: object

/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:3: DeprecationWarning: The default dtype for empty Series will be 'object' instead of 'float64' in a future version. Specify a dtype explicitly to silence this warning.
  This is separate from the ipykernel package so we can avoid doing imports until

In [ ]:
import numpy as np
import pandas as pd
#create a series with index
data=np.array(['a','b','c','d'])
s=pd.Series(data)
print(s)

data=np.array(['a','b','c','d'])
s=pd.Series(data,index=['a','b','c','d'])
print(s)
#create a series from dict
data={'a':0,'b':1,'c':2}
s=pd.Series(data)
print(s)
s=pd.Series(data,index=['b','c','d','a'])
print(s)

0    a
1    b
2    c
3    d
dtype: object
a    a
b    b
c    c
d    d
dtype: object
a    0
b    1
c    2
dtype: int64
b    1.0
c    2.0
d    NaN
a    0.0
dtype: float64

In [ ]:
#create a series from scalar

s=pd.Series(5,index=[0,1,2,3])
print(s)

0    5
1    5
2    5
3    5
dtype: int64

In [ ]:
#Accessing Data from series with position
s=pd.Series([1,2,3,4,5],index=['a','b','c','d','e'])
print(s[0])
print(s[:3])
print(s[-3:])

#retrieve the data using label index
print(s['a'])
print(s[['a','c','d']])
print(s['f'])

1
a    1
b    2
c    3
dtype: int64
c    3
d    4
e    5
dtype: int64
1
a    1
c    3
d    4
dtype: int64

KeyError: ignored

In [ ]:
#creating data frame

df=pd.DataFrame()
print(df)
data=[1,2,3,4,5]
df=pd.DataFrame(data)
print(df)
data=[['Alex',10],['Bob',12],['clarke',13]]
df=pd.DataFrame(data,columns=['Name','Age'],dtype=int)
print(df)

Empty DataFrame
Columns: []
Index: []
   0
0  1
1  2
2  3
3  4
4  5
     Name  Age
0    Alex   10
1     Bob   12
2  clarke   13

/usr/local/lib/python3.7/dist-packages/IPython/core/interactiveshell.py:2882: FutureWarning: Could not cast to int64, falling back to object. This behavior is deprecated. In a future version, when a dtype is passed to 'DataFrame', either all columns will be cast to that dtype, or a TypeError will be raised
  exec(code_obj, self.user_global_ns, self.user_ns)

In [ ]:
#create a dataframe from dictionary of arrays/list
data={'Name':['Tom','Jack','Steve','Ricky'],'Age':[28,34,22,12]}
df=pd.DataFrame(data)
print(df)
df=pd.DataFrame(data,index=['rank1','rank2','rank3','rank4'])
print(df)

    Name  Age
0    Tom   28
1   Jack   34
2  Steve   22
3  Ricky   12
        Name  Age
rank1    Tom   28
rank2   Jack   34
rank3  Steve   22
rank4  Ricky   12

In [ ]:
import pandas as pd
data = [{'a': 1, 'b': 2},{'a': 5, 'b': 10, 'c': 20}]
df = pd.DataFrame(data)
print(df)

import pandas as pd
data = [{'a': 1, 'b': 2},{'a': 5, 'b': 10, 'c': 20}]
df = pd.DataFrame(data,index=["first","last"])
print(df)

   a   b     c
0  1   2   NaN
1  5  10  20.0
       a   b     c
first  1   2   NaN
last   5  10  20.0

In [ ]:
import pandas as pd
data = [{'a': 1, 'b': 2},{'a': 5, 'b': 10, 'c': 20}]

#With two column indices, values same as dictionary keys
df1 = pd.DataFrame(data, index=['first', 'second'], columns=['a', 'b'])
df2 = pd.DataFrame(data, index=['first', 'second'], columns=['a', 'b1'])
print(df1)
print(df2)
print(df1['a'])

        a   b
first   1   2
second  5  10
        a  b1
first   1 NaN
second  5 NaN
first     1
second    5
Name: a, dtype: int64

In [ ]:

d = {'one' : pd.Series([1, 2, 3], index=['a', 'b', 'c']),
   'two' : pd.Series([1, 2, 3, 4], index=['a', 'b', 'c', 'd'])}

df = pd.DataFrame(d)
print(df)

   one  two
a  1.0    1
b  2.0    2
c  3.0    3
d  NaN    4

In [ ]:
d = {'one' : pd.Series([1, 2, 3], index=['a', 'b', 'c']),
   'two' : pd.Series([1, 2, 3, 4], index=['a', 'b', 'c', 'd'])}

df = pd.DataFrame(d)
print(df)
#column selection
print(df['two'])

# Add column to the data frame

df['three']=pd.Series([10,20,30],index=['a','b','c'])
print(df)

#Add column with combining(addition) two columns

df['four']=df['one']+df['three']
print(df)

#delete a column from data frame

del df['one']  #using delete command
print(df)

df.pop('four')  #using pop method
print(df)

   one  two
a  1.0    1
b  2.0    2
c  3.0    3
d  NaN    4
a    1
b    2
c    3
d    4
Name: two, dtype: int64
   one  two  three
a  1.0    1   10.0
b  2.0    2   20.0
c  3.0    3   30.0
d  NaN    4    NaN
   one  two  three  four
a  1.0    1   10.0  11.0
b  2.0    2   20.0  22.0
c  3.0    3   30.0  33.0
d  NaN    4    NaN   NaN
   two  three  four
a    1   10.0  11.0
b    2   20.0  22.0
c    3   30.0  33.0
d    4    NaN   NaN
   two  three
a    1   10.0
b    2   20.0
c    3   30.0
d    4    NaN

In [ ]:
#selecting Rows

import pandas as pd

d = {'one' : pd.Series([1, 2, 3], index=['a', 'b', 'c']), 
   'two' : pd.Series([1, 2, 3, 4], index=['a', 'b', 'c', 'd'])}

df = pd.DataFrame(d)
print(df)
print(df.loc['b'])

#passing integer location

print(df.iloc[3])

#selecting multiple rows

print(df.iloc[2:4])


# Adding rows to a Data frame

import pandas as pd

df = pd.DataFrame([[1, 2], [3, 4]], columns = ['a','b'])
df2 = pd.DataFrame([[5, 6], [7, 8]], columns = ['a','b'])
print(df)
print(df2)
df = df.append(df2)
print(df)

#deleting row in a dataframe

df=df.drop(0)
print(df)

   one  two
a  1.0    1
b  2.0    2
c  3.0    3
d  NaN    4
one    2.0
two    2.0
Name: b, dtype: float64
one    NaN
two    4.0
Name: d, dtype: float64
   one  two
c  3.0    3
d  NaN    4
   a  b
0  1  2
1  3  4
   a  b
0  5  6
1  7  8
   a  b
0  1  2
1  3  4
0  5  6
1  7  8
   a  b
1  3  4
1  7  8